
<div class = "row">
	<div class="large-12 columns">
		<h1><%= @restaurant.name %></h1>
	</div>
</div>

<div class = "row">
	<div class="large-1 columns"></div>
	<div class="large-11 columns">
		<ul>
			<li><%= @restaurant.address %>
			<li><%= @restaurant.description %>
		</ul>
	</div>
</div>

<div class = "row">
	<div class="large-12 columns"><%= link_to "Reserve this restaurant!", new_restaurant_reservation_path(@restaurant), class: "button radius" %>
	</div>
</div>